[Unit]
Description=Laval Digital Gunicorn App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/laval-digital
Environment="PATH=/var/www/laval-digital/venv/bin"
ExecStart=/var/www/laval-digital/venv/bin/gunicorn -w 1 --threads 4 --bind 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
